@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4">Welcome To User CRUD</h1>
    <a asp-Action="viewUsers" asp-controller="Home" class="btn btn-primary mt-4">View Users</a>
    <a asp-Action="AddEditUsers" asp-controller="Home" class="btn btn-secondary mt-4">Add / Edit Users</a>
</div>
